@page
@model IndexModel
@{ ViewData["Title"] = "Главная"; }

<div class="text-center">
    <table className="product_table">
        <thead>
            <tr>
                @{
                    int max = Model.tree.Max(it => it.Position);
                    int test = max + 1;
                }

                <th colspan=@test rowspan="2">Категории</th>
                <th colspan="6" rowspan="1">Товары</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan=@test></td>
                <td class="table_product__row">Название компании</td>
                <td class="table_product__row">Название продукта</td>
                <td class="table_product__row">Количество</td>
                <td class="table_product__row">Цена</td>
                <td class="table_product__row"></td>
            </tr>

            @foreach (var item in Model.tree)
            {
                <tr>
                    <td class="table_catalog" rowspan=@(item.Count)>

                        <form class="table_icon_button_catalog_edit" method="post">
                            <a class="buttonTable" asp-page="EditType" asp-route-id="@item.Id">
                                <img src="~/wrench.svg" width="12" height="12" />
                            </a>
                        </form>

                        <form class="table_icon_button_catalog" method="post">
                            <button class="buttonTable" type="submit" asp-page-handler="DeleteType" asp-route-id="@item.Id">
                                <img src="~/close.svg" width="12" height="12" />
                            </button>
                        </form>

                        <br/>

                        <span class="table_catalog_text">@item.Name</span>

                    </td>

                </tr>

                @foreach (var it in item.Products)
                {
                    <tr>
                        @for (int i = 0; i < max - item.Position; i++)
                        {
                            <td></td>
                        }

                        <td>@it.NameCompany</td>
                        <td>@it.Name</td>
                        <td>@it.Amount</td>
                        <td>@it.Price</td>
                        <td>
                            <form class="table_icon_button" method="post">
                                <a class="buttonTable" asp-page="Edit" asp-route-id="@it.Id">
                                    <img src="~/edit.svg" height="30" width="30" />
                                </a>
                            </form>
                        </td>
                        <td>
                            <form class="table_icon_button" method="post">
                                <button class="buttonTable" type="submit" asp-page-handler="Delete" asp-route-id="@it.Id">
                                    <img src="~/dustbin.svg" height="30" width="30" />
                                </button>
                            </form>
                        </td>
                    </tr>


                }

            }
            
        </tbody>
    </table>

    <a class="btn-add" asp-page="CreateTypeProduct">Добавить каталог</a>
    <a class="btn-add" asp-page="Create">Добавить продукт</a>

    <script>
        
    </script>
</div>