@page
@model IndexModel
@{ ViewData["Title"] = "Главная"; }

<div class="text-center">
    <table id="product-table" className="product-table">
        <thead>
            <tr>
                @{
                    int max = Model.tree.Max(it => it.Position);
                    int test = max + 1;
                }

                <th colspan=@test rowspan="2">Категории</th>
                <th colspan="6" rowspan="1">Товары</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan=@test></td>
                <td class="table_product__row">Название компании</td>
                <td class="table_product__row">Название продукта</td>
                <td class="table_product__row">Количество</td>
                <td class="table_product__row">Цена</td>
                <td class="table_product__row"></td>
            </tr>

            @foreach (var item in Model.tree)
            {
               // int? id = item.Parent == null? null : item.Parent.Id;
                <tr>
                        <td class="table_catalog" rowspan=@(item.Count)>
                    

                        <div class="table_catalog_control">
                            <form class="table_icon_button_catalog_edit" method="post">
                                <a asp-page="EditType" asp-route-id="@item.Id">
                                    <img src="~/wrench.svg" width="12" height="12" />
                                </a>
                            </form>

                            <!--<form class="table_icon_button_catalog" method="post">-->
                                @*<button class="buttonTable table_icon_catalog_btn open-button" id="open-button" type="submit" asp-page-handler="DeleteType" asp-route-id="@item.Id">
                                    <img src="~/close.svg" width="12" height="12" />
                                </button>*@
                                
                            <!--</form>-->

                            <button class="table_icon_button_catalog buttonTable table_icon_catalog_btn open-button" id="open-button">
                                    <img value="@item.Id" src="~/close.svg" width="10" height="10" />
                            </button>

                            @*<form class="ticon_btn_ctlg_add" method="post">
                                <button class="buttonTable table_icon_catalog_btn" type="submit" sp-page="CreateTypeProduct" asp-page="CreateTypeProduct" asp-route-id="@item.Id">
                                    <img src="~/plus.svg" height="12" width="12" />
                                </button>
                            </form>*@
                            
                            <a class="ticon_btn_ctlg_add" asp-page="CreateTypeProduct" asp-route-id=@item.Id>
                                <img src="~/plus.svg" height="12" width="12" />
                            </a>

                            <a class="ticon_btn_ctlg_add_product" asp-page="Create" asp-route-id=@item.Id>
                                <img src="~/addProduct.svg" height="18" width="18" />
                            </a>

                           @* <button id="btn_modal_window" class="ticon_btn_ctlg_add">
                                <img src="~/plus.svg" height="12" width="12" />
                            </button>*@
                        </div>
                        

                        <span class="table_catalog_text">@item.Name</span>

                    </td>

                </tr>

                @foreach (var it in item.Products)
                {
                    <tr>
                        @for (int i = 0; i < max - item.Position; i++)
                        {
                            <td></td>
                        }

                        @if(item.Products.Count == 1)
                        {
                            <td>@it.NameCompany</td>
                            <td>@it.Name</td>
                            <td>@it.Amount</td>
                            <td>@it.Price</td>
                            <td>
                                <form class="table_icon_button" method="post">
                                    <a class="buttonTable" asp-page="Edit" asp-route-id="@it.Id">
                                        <img src="~/edit.svg" height="20" width="20" />
                                    </a>
                                </form>
                                <form class="table_icon_button" method="post">
                                    <button class="buttonTable" type="submit" asp-page-handler="Delete" asp-route-id="@it.Id">
                                        <img src="~/dustbin.svg" height="20" width="20" />
                                    </button>
                                </form>
 
                            </td>

                        }
                        else
                        {
                            <td>@it.NameCompany</td>
                            <td>@it.Name</td>
                            <td>@it.Amount</td>
                            <td>@it.Price</td>
                            <td>
                                <form class="table_icon_button" method="post">
                                    <a class="buttonTable" asp-page="Edit" asp-route-id="@it.Id">
                                        <img src="~/edit.svg" height="20" width="20" />
                                    </a>
                                </form>
                                <form class="table_icon_button" method="post">
                                    <button class="buttonTable" type="submit" asp-page-handler="Delete" asp-route-id="@it.Id">
                                        <img src="~/dustbin.svg" height="20" width="20" />
                                    </button>
                                </form>
               


                            </td>
                        }
                        
                    </tr>


                }

            }
            
        </tbody>
    </table>

    <a class="btn-add" asp-page="CreateTypeProduct">Добавить каталог</a>
    <a class="btn-add" asp-page="Create">Добавить продукт</a>

    <script>
        
    </script>
</div>